---
<img src="CoronavirusImage.png" align="center"/>

---
<img src="CovidCats.png" align="center" width=200 height=200/>

# Group: CovidCats

### *Members:  Aldo, Andrew, Araz, Jane & Veohnti*

## Project:   Extract – Transform – Load

---

In the midst of the 2020 global coronavirus pandemic, this project ETLs the COVID-19 daily case data from World Health Organization (WHO) reports and others, *as compiled by Johns Hopkins University (JHU) and promulgated on [JHU's GitHub repository](https://github.com/CSSEGISandData/COVID-19)*, in order to ultimately **compare growth trajectories by country on comparable timescales**, beginning from the day on which each respective country had one hundred confirmed cases of COVID-19 (*i.e.*, 100 or more cases = Day 0).

The daily time series case data is available on JHU's GitHub repository in three (3) separate CSV files by case type:  

+ confirmed cases, 
+ deaths, and 
+ recovered cases.

Additionally, population data from all countries/regions was pulled from the World Bank with current 2020 populations per country/region.

We used an API from [GitHub's Developer Tools](https://developer.github.com/v3/repos/contents/#get-contents "Click to visit GitHub's Developer documentation") to pull the most current daily data so that our extracted, cleaned dataframes and loaded tables could automatically update each time the ETL process was performed.

---

> ### Step 1 – Extract
>
> First we pulled the raw data from JHU's GitHub repository, reading JHU's CSV files into Pandas dataframes:

---

In [1]:
# Install PyGitHub for extracting data via GitHub API
get_ipython().system(' pip install PyGithub')

Requirement already satisfied: PyGithub in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (1.47)
Requirement already satisfied: deprecated in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from PyGithub) (1.2.7)
Requirement already satisfied: pyjwt in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from PyGithub) (1.7.1)
Requirement already satisfied: requests>=2.14.0 in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from PyGithub) (2.22.0)
Requirement already satisfied: wrapt<2,>=1.10 in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from deprecated->PyGithub) (1.11.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.14.0->PyGithub) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.14.0->PyGithub) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.14.0->PyGithub) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/arazohanessian/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.14.0->PyGithub) (1.24.2)

In [2]:
# Import dependencies (including those needed for cleaning later...) and a separately saved config.py file containing a GitHub personal access token (API key).
import pandas as pd
import os
import numpy as np
import datetime
from config import git_key

In [3]:
# Importing the Population file
pop_file = "WPP2019_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx"

df_pop = pd.read_excel(pop_file)

In [4]:
# View raw dataframe of World Populations (from the UN)
df_pop

,Index,Variant,"Region, subregion, country or area *",Notes,Country code,Type,Parent code,1950,1951,1952,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Estimates,WORLD,NaN,900,World,0,2.53643e+06,2.58403e+06,2.63086e+06,...,7.04119e+06,7.12583e+06,7.21058e+06,7.29529e+06,7.3798e+06,7.46402e+06,7.54786e+06,7.63109e+06,7.71347e+06,7.7948e+06
1,2,Estimates,UN development groups,a,1803,Label/Separator,900,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,3,Estimates,More developed regions,b,901,Development Group,1803,814819,824004,833720,...,1.23956e+06,1.24411e+06,1.24845e+06,1.25262e+06,1.25662e+06,1.26048e+06,1.26415e+06,1.26756e+06,1.27063e+06,1.2733e+06
3,4,Estimates,Less developed regions,c,902,Development Group,1803,1.72161e+06,1.76003e+06,1.79714e+06,...,5.80164e+06,5.88171e+06,5.96213e+06,6.04268e+06,6.12317e+06,6.20354e+06,6.28371e+06,6.36353e+06,6.44284e+06,6.52149e+06
4,5,Estimates,Least developed countries,d,941,Development Group,902,195428,199180,203015,...,856471,876867,897793,919223,941131,963520,986385,1.00969e+06,1.03339e+06,1.05744e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,285,Estimates,Bermuda,14,60,Country/Area,918,37.256,37.8,38.437,...,65.076,64.737,64.381,64.038,63.695,63.36,63.04,62.763,62.508,62.273
285,286,Estimates,Canada,NaN,124,Country/Area,918,13733.4,14078.4,14445.5,...,34539.2,34922,35296.5,35664.3,36026.7,36382.9,36732.1,37074.6,37411,37742.2
286,287,Estimates,Greenland,26,304,Country/Area,918,22.993,23.466,23.936,...,56.555,56.477,56.412,56.383,56.378,56.408,56.473,56.565,56.66,56.772
287,288,Estimates,Saint Pierre and Miquelon,2,666,Country/Area,918,4.567,4.609,4.648,...,6.323,6.251,6.168,6.073,5.992,5.933,5.885,5.845,5.821,5.795
288,289,Estimates,United States of America,35,840,Country/Area,918,158804,160872,163266,...,311584,314044,316401,318673,320878,323016,325085,327096,329065,331003

In [5]:
#Rename Columns to match across DFs
df_pop = df_pop.rename(columns={"Region, subregion, country or area *" : "Country/Region"})
df_pop

,Index,Variant,Country/Region,Notes,Country code,Type,Parent code,1950,1951,1952,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Estimates,WORLD,NaN,900,World,0,2.53643e+06,2.58403e+06,2.63086e+06,...,7.04119e+06,7.12583e+06,7.21058e+06,7.29529e+06,7.3798e+06,7.46402e+06,7.54786e+06,7.63109e+06,7.71347e+06,7.7948e+06
1,2,Estimates,UN development groups,a,1803,Label/Separator,900,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,3,Estimates,More developed regions,b,901,Development Group,1803,814819,824004,833720,...,1.23956e+06,1.24411e+06,1.24845e+06,1.25262e+06,1.25662e+06,1.26048e+06,1.26415e+06,1.26756e+06,1.27063e+06,1.2733e+06
3,4,Estimates,Less developed regions,c,902,Development Group,1803,1.72161e+06,1.76003e+06,1.79714e+06,...,5.80164e+06,5.88171e+06,5.96213e+06,6.04268e+06,6.12317e+06,6.20354e+06,6.28371e+06,6.36353e+06,6.44284e+06,6.52149e+06
4,5,Estimates,Least developed countries,d,941,Development Group,902,195428,199180,203015,...,856471,876867,897793,919223,941131,963520,986385,1.00969e+06,1.03339e+06,1.05744e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,285,Estimates,Bermuda,14,60,Country/Area,918,37.256,37.8,38.437,...,65.076,64.737,64.381,64.038,63.695,63.36,63.04,62.763,62.508,62.273
285,286,Estimates,Canada,NaN,124,Country/Area,918,13733.4,14078.4,14445.5,...,34539.2,34922,35296.5,35664.3,36026.7,36382.9,36732.1,37074.6,37411,37742.2
286,287,Estimates,Greenland,26,304,Country/Area,918,22.993,23.466,23.936,...,56.555,56.477,56.412,56.383,56.378,56.408,56.473,56.565,56.66,56.772
287,288,Estimates,Saint Pierre and Miquelon,2,666,Country/Area,918,4.567,4.609,4.648,...,6.323,6.251,6.168,6.073,5.992,5.933,5.885,5.845,5.821,5.795
288,289,Estimates,United States of America,35,840,Country/Area,918,158804,160872,163266,...,311584,314044,316401,318673,320878,323016,325085,327096,329065,331003

In [6]:
# Define function to extract current coronavirus data from Johns Hopkins' Github repository and read CSV into a dataframe
def repo_to_df(git_key, branch):
    
    # Import dependencies
    from github import Github
    import requests
    import io
    
    # Create a Github API instance using an access key token
    g = Github(git_key)
    
    # Set Github repository name for GET requests to retrieve coronavirus data (CSV files)
    repo = g.get_repo("CSSEGISandData/COVID-19")
    contents = repo.get_contents(branch)
    
    # Decode and read CSV into dataframe 
    df = pd.read_csv(io.StringIO(contents.decoded_content.decode('utf-8')))
    return df

In [7]:
# Use defined function (above) to extract CSVs of coronavirus data from Github into dataframes (confirmed cases, deaths...)
confirmed_df = repo_to_df(git_key,"/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
deaths_df = repo_to_df(git_key,"/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
recovered_df = repo_to_df(git_key,"/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")

ConnectionError: HTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/CSSEGISandData/COVID-19 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x122042d90>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

In [ ]:
# View raw dataframe of confirmed cases
confirmed_df

In [9]:
# View raw dataframe of deaths
deaths_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,2,4,4,4,4,4,4,4
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,4,5,5,6,8,10,10,11,15,15
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,19,21,25,26,29,31,35,44,58
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,3,3,3,6,8,12,14
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# View raw dataframe of recovered cases
recovered_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,2,2,2,2,2,2,5,5
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,10,17,17,31,31,33,44,52,67
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,65,24,65,29,29,31,31,37,46,61
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,1,1,1,10,10,10
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---

> ### Step 2 – Transform
>
>
>> #### *Sub-step 2.1 – Clean & Aggregate by Country*
>>
>> Next we cleaned and aggregated the raw data with a defined function in order to: 
>>
>> + fill any NaNs with zero values, 
>> + drop unnecessary columns (*e.g.*, specific latitude and longitude coordinates), 
>> + group and aggregate (i.e., sum) case counts by overall Country/Region in order to eliminate the current breakout by Province/State, 
>> + set the Country/Region as the index, and
>> + set all values as integers, 
>> + sort descending based on the latest calendar date's numbers. 


---

In [11]:
# # Define Function for cleaning the population data
def clean_pop_df(df_pop):
    indexNames = df_pop[df_pop['Type'] != "Country/Area" ].index                 # Getting the index numbers for rows that don't have country datas
    df_pop.drop(indexNames , inplace=True)                              # Dropping Rows which don't have country data
    df_pop = df_pop.drop(columns = ["Variant", "Notes","Parent code", "Index", "Country code", "Type","1950","1951","1952","1953","1954","1955","1956","1957","1958","1959","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"])
    df_pop = df_pop.sort_values(by=df_pop.columns[0], ascending=True) # Sorting values
    #df_pop = df_pop.set_index(["Country/Region"])          # Setting Index as region
    df_pop = df_pop.rename(columns={"2020" : "Current Population"})
    df_pop = df_pop.fillna(value=0)  # Dropping Null Values
    df_pop["Current Population"] = 1000 * df_pop["Current Population"]
    
    
    return df_pop
df_pop

,Index,Variant,Country/Region,Notes,Country code,Type,Parent code,1950,1951,1952,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Estimates,WORLD,NaN,900,World,0,2.53643e+06,2.58403e+06,2.63086e+06,...,7.04119e+06,7.12583e+06,7.21058e+06,7.29529e+06,7.3798e+06,7.46402e+06,7.54786e+06,7.63109e+06,7.71347e+06,7.7948e+06
1,2,Estimates,UN development groups,a,1803,Label/Separator,900,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,3,Estimates,More developed regions,b,901,Development Group,1803,814819,824004,833720,...,1.23956e+06,1.24411e+06,1.24845e+06,1.25262e+06,1.25662e+06,1.26048e+06,1.26415e+06,1.26756e+06,1.27063e+06,1.2733e+06
3,4,Estimates,Less developed regions,c,902,Development Group,1803,1.72161e+06,1.76003e+06,1.79714e+06,...,5.80164e+06,5.88171e+06,5.96213e+06,6.04268e+06,6.12317e+06,6.20354e+06,6.28371e+06,6.36353e+06,6.44284e+06,6.52149e+06
4,5,Estimates,Least developed countries,d,941,Development Group,902,195428,199180,203015,...,856471,876867,897793,919223,941131,963520,986385,1.00969e+06,1.03339e+06,1.05744e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,285,Estimates,Bermuda,14,60,Country/Area,918,37.256,37.8,38.437,...,65.076,64.737,64.381,64.038,63.695,63.36,63.04,62.763,62.508,62.273
285,286,Estimates,Canada,NaN,124,Country/Area,918,13733.4,14078.4,14445.5,...,34539.2,34922,35296.5,35664.3,36026.7,36382.9,36732.1,37074.6,37411,37742.2
286,287,Estimates,Greenland,26,304,Country/Area,918,22.993,23.466,23.936,...,56.555,56.477,56.412,56.383,56.378,56.408,56.473,56.565,56.66,56.772
287,288,Estimates,Saint Pierre and Miquelon,2,666,Country/Area,918,4.567,4.609,4.648,...,6.323,6.251,6.168,6.073,5.992,5.933,5.885,5.845,5.821,5.795
288,289,Estimates,United States of America,35,840,Country/Area,918,158804,160872,163266,...,311584,314044,316401,318673,320878,323016,325085,327096,329065,331003

In [12]:
# Cleaning the data
pop_clean = clean_pop_df(df_pop)

In [13]:
# Viewing the Data, population is in thousands
pop_clean

                Country/Region  Current Population
116                Afghanistan           38928.341
257                    Albania            2877.800
82                     Algeria           43851.043
220             American Samoa              55.197
258                    Andorra              77.265
..                         ...                 ...
228  Wallis and Futuna Islands              11.246
88              Western Sahara             597.330
107                      Yemen           29825.968
44                      Zambia           18383.956
45                    Zimbabwe           14862.927

[235 rows x 2 columns]

In [14]:
#Export to CSV
pop_clean.to_csv("pop_data.csv",index=False)

In [15]:
# Define function for cleaning the data
def clean_df(df, death_confirmed_recovered):
    
    #df = df.fillna(value=0)                                          # Fill NaN with zero values
    df = df.drop(columns=["Lat", "Long"]) # Drop "Lat" and "Long" columns
    df = df.groupby(['Country/Region'], as_index = False).sum() # Create groupby object for sorting by country/region and aggregate by summing   
    df = pd.melt(df, id_vars=["Country/Region"],var_name="Date", value_name= str(death_confirmed_recovered))
    df = df.reset_index(drop=True) # Define new index
    df['Date'] = pd.to_datetime(df['Date']) # convert date column into a date type
    df = df.sort_values(by=["Country/Region", 'Date'], ascending=True) # Sort by highest value of most recently added date column
    return df

In [16]:
# Use defined function (above) to clean each dataframe
confirmed_clean = clean_df(confirmed_df, "Confirmed")
deaths_clean = clean_df(deaths_df, "Deaths")
recovered_clean = clean_df(recovered_df, "Recovered")

In [17]:
# Merge DFs for one transformed table
first_merge = pd.merge(confirmed_clean, deaths_clean, on=['Country/Region', 'Date'])
andrew_table = pd.merge(first_merge, recovered_clean, on=['Country/Region', 'Date'])
andrew_table

      Country/Region       Date  Confirmed  Deaths  Recovered
0        Afghanistan 2020-01-22          0       0          0
1        Afghanistan 2020-01-23          0       0          0
2        Afghanistan 2020-01-24          0       0          0
3        Afghanistan 2020-01-25          0       0          0
4        Afghanistan 2020-01-26          0       0          0
...              ...        ...        ...     ...        ...
12775       Zimbabwe 2020-03-28          7       1          0
12776       Zimbabwe 2020-03-29          7       1          0
12777       Zimbabwe 2020-03-30          7       1          0
12778       Zimbabwe 2020-03-31          8       1          0
12779       Zimbabwe 2020-04-01          8       1          0

[12780 rows x 5 columns]

In [18]:
#Normalize Country values
andrew_table["Country/Region"] = andrew_table["Country/Region"].str.lower()
pop_clean["Country/Region"] = pop_clean["Country/Region"].str.lower()

In [19]:
#Rename Unmatched Countries
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('united states of america','us'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('bolivia','bolivia (plurinational state of)'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('brunei','brunei darussalam'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('burma','myanmar'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace("cote d'ivoire","côte d'ivoire"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('iran','iran (islamic republic of)'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('korea, south',"dem. people's republic of korea"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('kosovo',''))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('laos',"lao people's democratic republic"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('moldova','republic of moldova	'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace('russia','russian federation'))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace("syria","syrian arab republic"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace("taiwan*","china, taiwan province of china	"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace("tanzania","united republic of tanzania"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace("venezuela","venezuela (bolivarian republic of)"))
pop_clean['Country/Region'] = pop_clean['Country/Region'].map(lambda x:x.replace("vietnam","viet nam"))

In [20]:
#View more rows
pd.set_option('display.max_rows', 1400)

In [21]:
#merge tables on countries
final_merge = pd.merge(andrew_table, pop_clean, how='inner', on='Country/Region')
final_merge

,Country/Region,Date,Confirmed,Deaths,Recovered,Current Population
0,afghanistan,2020-01-22,0,0,0,38928.341
1,afghanistan,2020-01-23,0,0,0,38928.341
2,afghanistan,2020-01-24,0,0,0,38928.341
3,afghanistan,2020-01-25,0,0,0,38928.341
4,afghanistan,2020-01-26,0,0,0,38928.341
...,...,...,...,...,...,...
11355,zimbabwe,2020-03-28,7,1,0,14862.927
11356,zimbabwe,2020-03-29,7,1,0,14862.927
11357,zimbabwe,2020-03-30,7,1,0,14862.927
11358,zimbabwe,2020-03-31,8,1,0,14862.927
11359,zimbabwe,2020-04-01,8,1,0,14862.927

In [22]:
# Export cleaned data set into a csv file
final_merge.to_csv("clean_data.csv",index=False)

In [24]:
# Read csv file
df = pd.read_csv("clean_data.csv")
df.head()

  Country/Region        Date  Confirmed  Deaths  Recovered  Current Population
0    afghanistan  2020-01-22          0       0          0           38928.341
1    afghanistan  2020-01-23          0       0          0           38928.341
2    afghanistan  2020-01-24          0       0          0           38928.341
3    afghanistan  2020-01-25          0       0          0           38928.341
4    afghanistan  2020-01-26          0       0          0           38928.341

In [84]:
#confirmed dataframe
final_confirmed_df = df.iloc[:, 0:3]
final_confirmed_df

      Country/Region        Date  Confirmed
0        afghanistan  2020-01-22          0
1        afghanistan  2020-01-23          0
2        afghanistan  2020-01-24          0
3        afghanistan  2020-01-25          0
4        afghanistan  2020-01-26          0
...              ...         ...        ...
11355       zimbabwe  2020-03-28          7
11356       zimbabwe  2020-03-29          7
11357       zimbabwe  2020-03-30          7
11358       zimbabwe  2020-03-31          8
11359       zimbabwe  2020-04-01          8

[11360 rows x 3 columns]

In [85]:
#Deaths dataframe
final_deaths_df = df[['Country/Region','Date','Deaths']]
final_deaths_df

      Country/Region        Date  Deaths
0        afghanistan  2020-01-22       0
1        afghanistan  2020-01-23       0
2        afghanistan  2020-01-24       0
3        afghanistan  2020-01-25       0
4        afghanistan  2020-01-26       0
...              ...         ...     ...
11355       zimbabwe  2020-03-28       1
11356       zimbabwe  2020-03-29       1
11357       zimbabwe  2020-03-30       1
11358       zimbabwe  2020-03-31       1
11359       zimbabwe  2020-04-01       1

[11360 rows x 3 columns]

In [86]:
#Recovered dataframe
final_recovered_df = df[['Country/Region','Date','Recovered']]
final_recovered_df

      Country/Region        Date  Recovered
0        afghanistan  2020-01-22          0
1        afghanistan  2020-01-23          0
2        afghanistan  2020-01-24          0
3        afghanistan  2020-01-25          0
4        afghanistan  2020-01-26          0
...              ...         ...        ...
11355       zimbabwe  2020-03-28          0
11356       zimbabwe  2020-03-29          0
11357       zimbabwe  2020-03-30          0
11358       zimbabwe  2020-03-31          0
11359       zimbabwe  2020-04-01          0

[11360 rows x 3 columns]

In [82]:
#Population dataframe
final_pop_df = df[['Country/Region','Date','Current Population']]
final_pop_df

      Country/Region        Date  Current Population
0        afghanistan  2020-01-22           38928.341
1        afghanistan  2020-01-23           38928.341
2        afghanistan  2020-01-24           38928.341
3        afghanistan  2020-01-25           38928.341
4        afghanistan  2020-01-26           38928.341
...              ...         ...                 ...
11355       zimbabwe  2020-03-28           14862.927
11356       zimbabwe  2020-03-29           14862.927
11357       zimbabwe  2020-03-30           14862.927
11358       zimbabwe  2020-03-31           14862.927
11359       zimbabwe  2020-04-01           14862.927

[11360 rows x 3 columns]

In [87]:
#Export to CSV
final_confirmed_df.to_csv("confirmed.csv",index=False)
final_deaths_df.to_csv("deaths.csv",index=False)
final_recovered_df.to_csv("recovered.csv",index=False)
final_pop_df.to_csv("population.csv", index=False)

---

> ### Step 3 – Load
>
>
> Finally we loaded the *transformed* dataframes into respective tables within a relational Postgres SQL database: 
>
> + confirmed cases, 
> + deaths, and 
> + recovered cases.
>

---

Now the latest COVID-19 data has been migrated from the Johns Hopkins University's CSV files into a production SQL database ready for querying, analysis, and visualizations of countries' growth trajectories on comparable timescales.

### Thank you for viewing our ETL project!

#### ~ The CovidCats

---

In [88]:
#load data using Sqlalchemy
from sqlalchemy import create_engine
connection_string = "postgres:postgres@localhost:5432/CovidCats"
engine = create_engine(f'postgresql://{connection_string}')

In [89]:
#confirm tables
engine.table_names()

['Confirmed', 'Deaths', 'Recovered', 'Population']

In [91]:
final_confirmed_df.to_sql(name='confirmed', con=engine, if_exists='replace', index=False)
final_deaths_df.to_sql(name='deaths', con=engine, if_exists='replace', index=False)
final_recovered_df.to_sql(name='recovered', con=engine, if_exists='replace', index=False)
final_pop_df.to_sql(name='population', con=engine, if_exists='replace', index=False)